<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="/rs/css/style.css" rel="stylesheet"/>
    <link href="/rs/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/rs/css/starter-template.css" rel="stylesheet"/>
    <title>Search</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="/">Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
    </nav>  
    <main role="main" class="container">
        <div class="starter-template">
        <%= page_data %>
        </div>
        <hr />
        <div class="footer">
          <p><span class="btn btn-secondary btn-sm">&copy; 2020 - delX </span></p>
        </div>
      </div>
    </main>
    <script src="/rs/js/jquery.js"></script>
    <script src="/rs/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>