<h2><%= nb_found %> information found for query "<%= searchstr %>" with <%= searchtype %> mode</h2>

<% count = 1 %>
<% result['hits']['hits'].each do |a_result| %>

    <% acc = a_result['_score']*100/max_score %>
    <div>
        <span class="btn btn-secondary btn-sm"><%= count %> (<%= acc.to_i %>)</span>
        <span class="btn btn-outline-dark btn-sm"><%= a_result['_source']['file'] %></span>
        <span class="btn btn-secondary btn-sm"><%= a_result['_index'] %></span>
        <span class="btn btn-secondary btn-sm"><%= a_result['_source']['subcategory'] %></span>
        <span class="btn btn-secondary btn-sm"><%= a_result['_source']['dir'] %></span>
        <span class="btn btn-secondary btn-sm"><%= a_result['_source']['info'] %></span>
    </div>
    <% count += 1 %>
<% end %>
