<form method="POST" action="/search">
  <p>search for: <input type="text" name="searchstr"></p>
  <p>Document type: 
  <select name="index">
    <% config["indexes"].each do |index,data| %>
    <option value="<%= index %>"><%= data['description'] %></option>
    <% end %>
    <option value="">Tout</option>
  </select>
  </p>
  <p> Search type
    <select name="searchtype">
        <option value="standard">Standard</option>
        <option value="strict">strict</option>
        <option value="regexp">RegExp</option>
    </select>
  </p>
  <input type="submit">
</form>
