div.body{counter-reset: h1 h2 h3 h4 h5 h6;}
h1:before {
  content: counter(h1) "  ";
  counter-increment: h1;
}
h2:before {
  content: counter(h1) "." counter(h2) "  ";
  counter-increment: h2;
}
h3:before {
  content: counter(h1) "." counter(h2) "." counter(h3) "  ";
  counter-increment: h3;
}
h4:before {
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "  ";
  counter-increment: h4;
}
h5:before {
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "  ";
  counter-increment: h5;
}
h6:before {
  content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) "  ";
  counter-increment: h6;
}

h1 {
  counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h3 {
  counter-reset: h4;
}
h4 {
  counter-reset: h5;
}
h5 {
  counter-reset: h6;
}
h1.unnumbered, h2.unnumbered, h3.unnumbered, h4.unnumbered, h5.unnumbered {
  counter-reset: none;
}
h1.unnumbered:before, 
h2.unnumbered:before,
h3.unnumbered:before,
h4.unnumbered:before, 
h5.unnumbered:before,
h6.unnumbered:before,
{
  content: none;
  counter-increment: none;
}
