pre.console  { border:solid 1px black; padding-left:15px;color:#00FF00; background-color:#000000; font-size:10pt; font-family:'Courier New';}
pre.powershell  { border:solid 1px black; padding-left:15px;color:#FFFFFF; background-color:#002a54; font-size:10pt; font-family:'Courier New';font-weight:bold;}
